<a href="/register/">Zarejestruj sie</a>
<form action="" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" value="Submit" />
</form>

{% if msg %}
	<b>{{msg}}</b>
{% endif %}

{% if lista %}
    <p><b>Zadania w kolejce:</b></p>
    <ul>
    {% for item in lista %}
    
        <li>Przedział: {{ item.rangeof }} [ priorytet: {{ item.priority }} ]</li>
    {% endfor %}
    </ul>
{% else %}
    <p><b>Kolejka jest obecnie pusta.</b></p>
{% endif %}

{% if all_result %}
    <p><b>Ukończone zadania:</b></p>
    <ul>
    {% for item in all_result %}
    
        <li>Przedział: {{ item.rangeof }} [ wynik: {{ item.result }} ]</li>
    {% endfor %}
    </ul>
{% else %}
    <p><b>Brak ukończonych zadań.</b></p>
{% endif %}



